*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(238, 232, 232);
}

body{
    text-align: center;
 
  
}

section{
    width: 100%;
    padding: 0;
    height: 78px;
    background-color: black;
    margin-bottom: 10px;
   
   
}


.container{
    width:95%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: white;

}

h2{
    width: 100%;
}

h3{
    color: red;
}

h2, h3, h4, span{
    background-color: white;
}

h4{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title{
    margin-bottom: 15px;
    color: rgb(218, 25, 25);
    font:30px sans-serif;
}

.vid{
    width:100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
}
.ads{
    width: 95%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 5px;
    padding-left: 10px;
}

.container > a{
    text-decoration: none;
    color: rgb(218, 25, 25);
    font-size: 20px;
}
.related{
    width: 90%;
    height: 170px;
    margin-top:40px;
}

.iframe{
    width: 100%;
    height: 300px;
    border: none;
   
    
}

.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(192, 188, 188);
    color: red;
    padding: 20px;
    margin-top: 20px;

}
 p{
     background-color:rgb(192, 188, 188);
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom:15px;
     color: rgb(79, 15, 15);
}

h5{
    background-color: rgb(192, 188, 188);
}
