*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(238, 232, 232);
    
}

body{
    text-align: center;
    
}

.section{
    width: 100%;
    padding: 0;
    height: 65px;
    background-color: black;
    margin-bottom: 10px;
   
   
}

#logo{
    width: 80%;
    height: 60px;
    margin-top: 5px;
    background-color: black;
}


.container{
    width:90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;

}

h2{
    width: 100%;
}

h3{
    color: red;
}

h2, h3, h4, span{
    background-color: white;
}

h4{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title{
    margin-bottom: 15px;
    color: rgb(218, 25, 25);
    font:30px sans-serif;
}

.vid{
    width:100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
}
.ads{
    width: 95%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 5px;
    padding-left: 10px;
}

.container > a{
    text-decoration: none;
    color: rgb(218, 25, 25);
    font-size: 20px;
}
.row > a{
    text-decoration: none;
    color: rgb(218, 25, 25);
    font-size: 20px;
    border: none;
    Width:80%;
}
.related{
    width: 100%;
    height: 200px;
    margin-top:40px;
    Background-color: white;
    border: none;
}

.iframe{
    width: 100%;
    height: 300px;
    border: none;   
}
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(192, 188, 188);
    color: red;
    padding: 20px;
    margin-top: 20px;   
}
 p{
     background-color:rgb(192, 188, 188);
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom:15px;
     color: rgb(79, 15, 15);
}

h5{
    background-color: rgb(192, 188, 188);
    font-size: 15px;
}

h3{
    font-size: 20px;
}

.links{
    width: 100%;
    border: 2px solid black;
}

.inner>a{
    width: 35%;
    display: flex;
}

column{
       background-color: white;
       Margin:0;
   }

   .row{
       background-color: white;
       Margin: 0;
   }

@media only screen and (min-width: 600px) {

    .container{
        width: 70%;
    }

   .related{
       width: 80%;
       height: 250px;
   }

   .iframe{
       width: 60%;
   }

   .column{
       width: 100%;
       background-color: white;
       display: flex;
   }

   .row{
       width: 50%;
       margin-left: auto;
       margin-right: auto;
       background-color: white;
   }

}


  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.navbar>a>b{
  background-color: black;
  color: white;
  font-size: 30px;
}

li {
    list-style: none;
}

li>a{
  background-color: black;
}



a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: black;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 10px;
    background-color: black;
}

.nav-item>a{
  color: white;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    li>a{
  background-color: white;
}

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-item {
    padding: 0;
    background-color: black;
}
.nav-item>a{
  color: red;
}

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }


}
