*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(238, 232, 232);
    
}

body{
    text-align: center;
    
}

.section{
    width: 100%;
    padding: 0;
    height: 65px;
    background-color: black;
    margin-bottom: 10px;
   
   
}

#logo{
    width: 80%;
    height: 60px;
    margin-top: 5px;
    background-color: black;
}


.container{
    width:95%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: white;

}

h2{
    width: 100%;
}

h3{
    color: red;
}

h2, h3, h4, span{
    background-color: white;
}

h4{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title{
    margin-bottom: 15px;
    color: rgb(218, 25, 25);
    font:30px sans-serif;
}

.vid{
    width:100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
}
.ads{
    width: 95%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 5px;
    padding-left: 10px;
}

.container > a{
    text-decoration: none;
    color: rgb(218, 25, 25);
    font-size: 20px;
}
.related{
    width: 90%;
    height: 170px;
    margin-top:40px;
}

.iframe{
    width: 100%;
    height: 300px;
    border: none;   
}
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(192, 188, 188);
    color: red;
    padding: 20px;
    margin-top: 20px;   
}
 p{
     background-color:rgb(192, 188, 188);
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom:15px;
     color: rgb(79, 15, 15);
}

h5{
    background-color: rgb(192, 188, 188);
    font-size: 15px;
}

h3{
    font-size: 20px;
}

.links{
    width: 100%;
    border: 2px solid black;
}

.inner>a{
    width: 35%;
    display: flex;
}

@media only screen and (min-width: 600px) {
   body{ 
       max-width: 100%;
       
   }

   .container{
       margin: 30px;
       padding: 20px;
       margin-right: 100px;
    
    
   }

   .iframe{
       width: 70%;
   }

   .related{
       width: 80%;
       height: 200px;
       
   }

}
